* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    background: rgb(240 242 245);
    font-size: 1.5rem;
}

#logo {
    padding: 1rem 0;
}

#logo img {
    width: 16rem;
}

main {
    width: 80%;
    margin: auto;
    padding: 8rem;
}

section {
    display: inline-block;
    width: 49.5%;
}

#connect {
    margin-right: 5rem;
}

h1 {
    padding: .5rem 0;
}

h1 + p {
    color: grey;
}

.padd {
    padding: 1rem 0;
    text-align: left;
}

#profile {
    display: inline-block;
    margin-right: 1rem;
}

#profile div {
    border: 1px grey solid;
    border-radius: 1rem;
    background: white;
}

#add {
    width: 16rem;
    display: inline-block;
    vertical-align: top;
    border: 1px grey solid;
    border-radius: 1rem;
    background: white;
}

#add > div {
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 15rem;
}

#profile img {
    width: 15rem;
}

#profile span {
    display: block;
    padding: 1rem;
    text-align: center;
}

#round {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: blue;
    padding-top: .5rem;
    margin: auto;
    color: white;
    font-size: 2rem;
    text-align: center;
}

#add p {
    color: blue;
    text-align: center;
    padding: 1rem;
}

form {
    text-align: center;
    padding: 1rem 0;
}

form div {
    margin: .5rem;
}

form p {
    padding: 1rem 0;
}

input {
    height: 5rem;
}

input, #blue {
    width: 35rem;
}

#blue, #green {
    padding: 1rem;
    border-radius: 8px;
    color: white;
}

#blue {
    background: blue;
}

#green {
    width: 20rem;
    background: green;
}

#form span {
    font-weight: bold;
}

#form #bottom {
    border-top: grey 1px solid;
    text-align: center;
    padding: 1rem 0;
}

#form {
    background: white;
    width: 36rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

